

body{

    background-color: #ededed;
}

#cardContainer .card{

    transition: all .4s ease-in-out;
}

#cardContainer .card:is(:hover,:active,:focus){

    box-shadow: 5px 10px 10px #888;
    transform: scale(1.01);
}

#cardContainer .card h5{

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.spinner{

    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,.5);
}
